.section {
    background-color: rgb(245, 218, 222);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    flex-direction: column;
    height: 100vh;           /* Takes up the full height of the viewport */
    width: 100vw;  
    position:relative
}

h1 {
    font-family: 'Playfair', serif;
}
p {
    font-family: 'Playfair', serif;
}

button {
    background-color: white;
    border-radius: 8px;
    padding: 15px 32px;
    font-size: 15px;
    margin: 0 10px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

button:hover {
    cursor: pointer;
}

#next:hover {
    font-size: 20px;
    padding: 15px 32px;
}

.buttons{
    width: 260px;          
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yes-button:hover {
    font-size: 30px;
    padding: 20px 36px;
    background-color: red;
}

#no-button {
    transition: .5s;
}

#second-page {
    display: none;
}